.row-header {
  margin: 0px auto;
  padding: 0px 0px; }

.row-content {
  margin: 0px auto;
  padding: 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px; }

.footer {
  background-color: #D1C4E9;
  margin: 0px auto;
  padding: 20px 0px; }

body {
  padding: 50px 0px 0px 0px;
  z-index: 0; }

.navbar-dark {
  background-color: #512DA8; }
.modal .modal-header {
  background: #512DA8;
  color: floralwhite; }
  .modal .modal-header .button {
    color: floralwhite; }

.modal .modal-body {
  background: #D1C4E9;
  color: floralwhite; }

